# Editors
.idea/
.vscode/
*.iml

# Python
.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
backend/.coverage
backend/.env
backend/.env.hivemq
backend/app/__pycache__/

# Frontend
frontend/node_modules/
frontend/.svelte-kit/
frontend/dist/
package-lock.json
